@model PasteleriaLaMiel.Models.Productos

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Marca" class="control-label">Nombre</label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
          
           
            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio S/.</label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" >
                     <option value="A">A</option>
                     <option value="I">I</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>                   
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-secondary" />
                <a asp-action="Index"  class="btn btn-primary" >Regresar a Lista</a>
            </div>
        </form>
    </div>
            <div class="col-md-6" style="width: 100%;">
            <img src="~/img/edit1.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
</div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
